@media (max-width: 576px) {
    .owl-carousel item {
        min-height: 360px;
    }
    .item2 bbb {
        min-height: 300px;
    }
    .item2 bbba {
        min-height: 300px;
    }
    .item bb {
        min-height: 300px;
    }
    .about1 {
        margin-top: 10px !important;
    }

}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #212529;
    font-family: Arvo;

}

    /* navigation bar */
.navbar {
    background-color: black;
    border-color: black;
    display: flex;
    align-item: center;
    
}
.nav-item {
    padding-left: 1rem;
    color: silver;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: none;
    color: white;
}
.navbar-brand {
     display: inline-block;
     front-size: 1.25rem;
     line-height: inherit;
     white-space: nowrap;
     margin-right: 0;
}
.navbar-dark .navbar-text{
    color: white;
}


.navbar-text {
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin: 0;
    font-family: Arvo;
    font-size: 1rem;
}

.navbar-text {
    box-sizing: border-box;
}

.navbar-item{
    font-family: Arvo;
    font-size: 1rem;

}
.menuTop {
    color: silver;
    text-decoration: none

}

.navbar-nav{
    letter-spacing: 1.5px;
    font-family: Arvo;
    margin: 0 auto 0 0;
    display: flex;
    justify-content:  space-around;
    width: auto;

}

.btn {
    background: gray;
    color: black;
    border: none;
    font-family: Arvo;
}


.no_padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*column*/ 

.bg{
    background: #ebebeb;
    padding: 30px auto;
    
min-height: 300px;
    margin: 30px auto;
    
}
.border{
    border: black 3px solid;
    min-height: 200px;
}

     /*carousel*/
.img{
    height: 360px;
    width: 100%;
    padding-right: 5px;
}




/* column */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.main{
    max-width: 1170px;
    margin: 0 auto;
}
.headEr{
    min-height: 110px;
    margin: auto;

    text-align: center;
    padding: 40px;
    width: 100%;
    font-family: Arvo;


}

.cont{
    background: lightgray;
    border: black 1px solid;
    height: 220px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-family: Arvo;
    font-size: 1.25rem;

    padding: 50px;
}
/*Goal*/

.midBar1Fluid {
    background: #0a2337;
    min-height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    width: 100%;
    font-family: Arvo;
    font-size: 1.25rem;

}


.head2 {
    background: lightgray;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    font-family: Arvo;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    padding-top: 2.5rem;

}

.item1 {
    font-family: Arvo;
    font-size: 0.75rem;
    min-height: 250px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 4rem;
    text-align: justify;
}
.h4, h4 {
    color: silver;
    padding: 20px;
}
.center {
    color: silver;
    text-align: justify;
}

.p, p {
    color: black;
}

.carous{
    background: lightgray;
    margin: 0 auto;
    min-height: 350px;
    font-family: Arvo;
    font-size: 1.25rem;

    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.midBar {
    background: lightgray;

    border: black 1px solid;
    border-radius: 8px;
    padding: 40px;
    font-family: Arvo;
    font-size: 1.25rem;
    margin-top: 10px;
}

/* .ABS {
    background: #f4f8ff;
    min-height: 1180px;
}
*/
.header2 {
    text-align: center;
    padding: 50px;
}



.aab {
    min-height: 450px;
}
.aa {
    margin-top: 30px;
    min-height: 450px;
}


.bb {
    min-height: 300px;
    margin-top: 30px;
}
.bbba {
    min-height: 300px;
    margin-top: 30px;

}

.bbb {
    min-height: 300px;
}
.aaa {
    min-height: 450px;
}
.h3 ,h3 {
    color: silver;
}

.next {
    min-height: 600px;
}
.header3 {
    color: silver;

    padding: 40px;
    min-height: 300px;
    text-align: center;
}

.img {
    border: 1px silver solid;
    background: lightgray;
    border-radius: 10px;
    min-height: 370px;


}

.tt {
    background: lightgray;
    border: 1px black solid;
    background: lightgray;
    min-height: 175px;
    border-radius: 10px;
    text-align: center;
    margin: 5px auto;
}

.about {
    min-height: 115px;
    border: 1px silver solid;
    border-radius: 10px;
    background: lightgray;
    margin: 8px auto;
}

.about1 {
    min-height: 110px;
    border: 1px silver solid;
    border-radius: 10px;
    background: lightgray;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
}

.AAC {
    /*background: #f4f8ff;*/
    min-height: 320px;
    padding: 0px;
}
      /* OUR RECENT BLOG*/
.BLOG {
    height: 830px;
    margin-bottom: 5rem;
}
.skills {
    height: 550px;
    border: 1px silver solid;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    font-color: lightgray;
}
.text {
    min-height: 250px;
    padding: 10px;
}

.midBar1Fluid1 {
    background: #071f31;
    min-height: 710px;
}
