@media (max-width: 580px) {
    .owl-carousel item {
        min-height: 360px;
    }
    .bbb {
        min-height: 0px !important;
        margin: 2px  !important;
    }
    .bbba {
        min-height: 0px !important;
        margin: 2px  !important;
    }
    .bb {
        min-height: 0px !important;
        margin: 2px  !important;
    }
    .aab{
        min-height: 0px !important;
        margin: 2px  !important;
    }
    .aaa{
        min-height: 0px !important;
        margin: 2px  !important;
    }
    .aa {
        min-height: 0px !important;
        margin: 2px  !important;
    }

    .about1 {
        margin-top: 10px !important;
    }
    .q5 {
        display: block !important;
        margin: 5px auto !important;
        width: 30px !important;
    }
    .q1 {
        height: 50px !important;
        padding: 5px !important;
    }
    .midBar1Fluid {
        padding-right: 0px !important;
    }
    .about {

        height: 60px !important;
    }
    .batt {
        position: relative !important;
        right: 0px !important;
    }
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .cont {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .bb, .aa {
        margin-top: 10px !important;
    }

    .img-fluid {
        width: 100%;
    }
    .no_padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

body {

    font-family: Arvo;
    background: #020202;
}
    /* navigation bar */
.navbar {
    background-color: black;
    border-color: black;
    display: flex;
    align-item: center;
    
}
.nav-item {
    padding-left: 1rem;
    color: silver;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: none;
    color: white;
}
.navbar-brand {
     display: inline-block;
     front-size: 1.25rem;
     line-height: inherit;
     white-space: nowrap;
     margin-right: 0;
}
.navbar-dark .navbar-text{
    color: white;
}


.navbar-text {
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin: 0;
    font-family: Arvo;
    font-size: 1rem;
}

.navbar-text {
    box-sizing: border-box;
}

.navbar-item{
    font-family: Arvo;
    font-size: 1rem;

}
.menuTop {
    color: silver;
    text-decoration: none

}

.navbar-nav{
    letter-spacing: 1.5px;
    font-family: Arvo;
    margin: 0 auto 0 0;
    display: flex;
    justify-content:  space-around;
    width: auto;

}

.btn {
    background: gray;
    color: black;
    border: none;
    font-family: Arvo;
}


.no_padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*column*/ 

.bg{
    background: #ebebeb;
    padding: 30px auto;
    min-height: 300px;
    margin: 30px auto;
    
}
.border{
    border: black 3px solid;
    min-height: 200px;
}

     /*carousel*/
.img{
    height: 360px;
    width: 100%;
    padding-right: 5px;
}




/* column */

.main {
    margin: 0 auto;
}
.headEr{
    min-height: 110px;
    margin: auto;

    text-align: center;
    padding: 40px;
    width: 100%;
    font-family: Arvo;


}

.cont{
    color: silver;
    border: silver 1px solid;
    height: 220px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: Arvo;
    font-size: 1.25rem;
    padding: 50px;
}
/*Goal*/

.midBar1Fluid {
    background: #0a2337;
    min-height: auto;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    font-family: Arvo;
    font-size: 1.25rem;
    padding-left: 0px;
}


.item1 {
    font-family: Arvo;
    font-size: 0.75rem;
    min-height: 250px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
    color: silver;


}
.h4, h4 {
    color: silver;
    padding-top: 20px;
    text-align: center;
}
.center {
    color: silver;
    text-align: justify;
    overflow: hidden;
    padding: 5px;


}

.p, p {
    color: silver;

}

.carous{

    margin: 0 auto;



}
.midBar {
    color: silver;
    border: silver 1px dotted;
    border-radius: 8px;
    padding: 40px;
    font-family: Arvo;
    font-size: 1.25rem;
    margin-top: 10px;
}


.header2 {
    text-align: justify;
    padding: 50px;
}

/* IMAGES */

.aab {
    min-height: 450px;
}
.aa {
    margin-top: 30px;
    min-height: 450px;
}


.bb {
    min-height: 300px;
    margin-top: 30px;
}
.bbba {
    min-height: 300px;
    margin-top: 30px;

}

.bbb {
    min-height: 300px;
}
.aaa {
    min-height: 450px;
}


.h3 ,h3 {
    color: silver;
    text-align: center;
}

.next {
    min-height: 600px;
}
.header3 {
    color: silver;
    padding: 40px;
    min-height: 300px;
    text-align: justify;
}

.img {
    height: 100%;
    width: 100%;
    padding: 0px;
}
.innovation {

}


.tt {
    border: 1px silver dotted;
    min-height: 175px;
    border-radius: 10px;
    text-align: center;
    margin: 5px auto;
    color: silver;
}

.about {
    min-height: 115px;
    border: 1px silver dotted;
    border-radius: 10px;
    color: silver;
    margin: 5px 0px;
    max-width: 79%;
}

.about1 {
    min-height: 110px;
    color: silver;
    text-align: justify;
    margin-top: 100px;
    padding: 15px;

}
.about111 {
    min-height: 110px;
    color: silver;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

.AAC {
    /*background: #f4f8ff;*/
    min-height: 300px;

}
      /* OUR RECENT BLOG*/


.skills {
    min-height: 550px;
    border: 1px silver solid;
    border-radius: 8px;
    color: silver;
}
.text {
    min-height: 250px;
}

.PLAYER a:hover {
    color: white;
    text-decoration: none;
}

a {
    color: silver;

}

.btn1 {
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(0,25,51);
    border-radius: 7px;
    background: rgb(24,23,23) linear-gradient(rgb(101,103,107), rgb(64,64,64));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}
.btn1:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.btn1:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
                    /*FOOTER*/
.q1 {
    background: #7e8e90;
    height: 245px;
    margin-top: 20px;

}


                /*FLAT ICON*/
.q5 {
    display: block;
    margin: 70px auto;
}
.head3 {
    text-align: center;
    color: silver;
}
textarea {
    resize: none;
    width: 100%;
}
input {
    text-align: center;
    color: gray;
    width: 100%;
}
.mail {
    margin-bottom: 30px;
}
.batt {
    display: block;
    width: 140px;
    height: 45px;
    margin-left: 26px;
    position: absolute;
    bottom: 0%;
    right: 51%;
}

.p1, p {
    text-align: center;
    padding-top: 30px;
}

.foot {
    position: relative;
}